* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

.bodyfin {
    background-image: url('img/bg-interaxe.jpg');
}

.congratscenter {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.congratscenter p {
    width: 30%;
    text-align: center;
    color: white;
    font-size: larger;
}

.congratscenter h1 {
    color: #31eb6c;
}